/* 开发整体风格一致的App 特定义全局的css变量 */

/* 颜色变量 */

/* 行为相关颜色 */
$uni-color-primary: #1F6BDD;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

/* 文字基本颜色 */
$uni-text-color:#333;//基本色
$uni-text-color-inverse:#fff; //反色
$uni-text-color-grey:#999; //辅助灰色，如加载更多的提示信息
$uni-text-color-placeholder: #808080;
$uni-text-color-disable:#c0c0c0;

/* 背景颜色 */
$uni-bg-color:#F1F1F3;// 背景色
$uni-bg-color-hover:#f1f1f1; // 点击状态颜色
$uni-bg-color-mask:rgba(0, 0, 0, 0.5); //遮罩颜色

/* todo */
// @include position(absolute);
@mixin position($type: relative, $z-index: 1) {
  position: $type;
  z-index: $z-index;
}
// @include flex(space-between);
@mixin flex($x-type: center, $y-type: center) {
  display: flex;
  justify-content: $x-type;
  align-items: $y-type;
}
// @include Multiple();
@mixin Multiple($column: 2){
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $column;
}
